@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --secondary-very-pale-blue: hsl(225, 100%, 98%);
  --secondary-desaturated-blue: hsl(224, 23%, 55%);
  --secondary-dark-blue: hsl(223, 47%, 23%);
  --primary-font-family: "Red Hat Display", sans-serif;
  --global-font-size: 16px;
  --font-weight-light: 500;
  --font-weight-medium: 700;
  --font-weight-bold: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--global-font-size);
  font-family: var(--primary-font-family);
  font-weight: var(--font-weight-bold);
}

a {
  text-decoration: none;
}

h2 {
  font-size: var(--global-font-size);
  font-weight: 900;
}

.container {
  background-color: var(--primary-pale-blue);
  background-image: url("./starter/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  width: 450px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 15px 25px 0 hsla(245, 75%, 52%, 0.11);
}

.card-header {
  width: 100%;
}

.card-body {
  padding: 2.5rem 3rem;
}

.order-heading {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.order-pitch {
  color: var(--secondary-desaturated-blue);
  font-weight: 500;
  line-height: 1.8rem;
  /* margin: 0 20px; */
  margin-bottom: 1.5rem;
}

.order-plan {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  background-color: var(--secondary-very-pale-blue);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.music-icon {
  margin-right: 1.25rem;
}

.current-plan {
  justify-self: start;
}

.plan-heading {
  margin-bottom: 0.3rem;
}

.order-plan-price {
  font-weight: var(--font-weight-light);
  color: var(--secondary-desaturated-blue);
}

.change-plan {
  margin-left: auto;
  text-decoration: underline;
}

.payment-btn {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
  font-family: var(--primary-font-family);
  font-weight: 900;
  background-color: var(--primary-bright-blue);
  color: #fff;
  box-shadow: 0 15px 20px 0 hsla(245, 75%, 52%, 0.25);
}

.payment-btn:active,
.payment-btn:hover,
.change-plan:hover,
.change-plan:active {
  cursor: pointer;
  opacity: 0.7;
}

.cancel-order:hover,
.cancel-order:active {
  color: var(--secondary-dark-blue);
}

@media only screen and (max-width: 500px) {
  .container {
    background-image: url("./starter/images/pattern-background-mobile.svg");
  }

  .card {
    width: 325px;
  }

  .card-body {
    padding: 2rem;
  }

  .order-heading {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .order-pitch {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .order-plan {
    padding: 0.9rem;
  }

  .order-plan p,
  .order-plan h2 {
    font-size: 0.85rem;
  }

  .change-plan {
    font-size: 0.9rem;
  }
}
